/* Margins */
.mtb_0 { margin-top: 0; margin-bottom: 0; }
.mt_5 { margin-top: .5rem; }
.mt_10 { margin-top: 1rem; }
.mt_15 { margin-top: 1.5rem; }
.mb_10 { margin-bottom: 1rem; }
.mb_70 { margin-bottom: 7rem; }
.mb_80 { margin-bottom: 8rem; }
.mb_120 { margin-bottom: 12rem; }
.mlr_auto { margin-left: auto; margin-right: auto; }
.ml_20 { margin-left: 2rem; }

/* Widths */
.mw_540 { max-width: 54rem;}
.mw_830 { max-width: 83rem;}

/* Opacity */
.opacity_0 { opacity: 0; }