/* Margins */
.mt_8 { margin-top: .8rem; }
.mt_25 { margin-top: 2.5rem; }
.mt_35 { margin-top: 3.5rem; }
.mt_70 { margin-top: 7rem; }
.mt-155 { margin-top: -15.5rem; }
.mb_15 { margin-bottom: 1.5rem; }
.mb_25 { margin-bottom: 2.5rem; }
.mb_30 { margin-bottom: 3rem; }
.mb_35 { margin-bottom: 3.5rem; }
.mb_60 { margin-bottom: 6rem; }
.mb_70 { margin-bottom: 7rem; }

/*Paddings*/
.pt_75 { padding-top: 7.5rem; }
.pl_10 { padding-left: 1rem; }
.pl_30 { padding-left: 3rem; }
.pl_45 { padding-left: 4.5rem; }
.pb_30 { padding-bottom: 3rem; }
.ptb_30 { padding-top: 3rem; padding-bottom: 3rem; }
.ptb_65 { padding-top: 6.5rem; padding-bottom: 6.5rem; }

/* Font size */
.fs_17 { font-size: 1.7rem; }
.fs_20 { font-size: 2rem; }
.fs_22 { font-size: 2.2rem; }
.fs_25 { font-size: 2.5rem; }
.fs_65 { font-size: 6.5rem; }

/* Font weight*/ 
.fw_500 { font-weight: 500; }
.fw_900 { font-weight: 900; }

/* Line height*/
.lh_30 { line-height: 3rem; }

/* Headings */
.title { font: 400 5rem/6rem 'Bernadette', sans-serif; }

/* Widths */
.mw_810 { max-width: 81rem; }
.mw_970 { max-width: 97rem; }

/*Height*/
.hi_124 { height: 12.4rem; }
.hi_134 { height: 13.4rem; }
.hi_154 { height: 15.4rem; }
.hi_100 { height: 100%; }

/*Backgrounds */
.bg-gradient {
    background: rgb(222, 129, 60);
    background: -moz-linear-gradient(-45deg, rgba(222, 129, 60, 1) 0%, rgba(63, 81, 154, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(222, 129, 60, 1) 0%, rgba(63, 81, 154, 1) 100%);
    background: linear-gradient(135deg, rgba(222, 129, 60, 1) 0%, rgba(63, 81, 154, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de813c', endColorstr='#3f519a', GradientType=1);
}

.bg-grey { background: #f4f4f4; }

/* z-index */
.zi_1 { z-index: 1; }

/* Opacity */
.opacity_0 { opacity: 0; }