/* Margins */
.mtb_0 { margin-top: 0; margin-bottom: 0; }
.mt_5 { margin-top: .5rem; }
.mt_8 { margin-top: .8rem; }
.mt_10 { margin-top: 1rem; }
.mt_15 { margin-top: 1.5rem; }
.mt_25 { margin-top: 2.5rem; }
.mt_35 { margin-top: 3.5rem; }
.mt_70 { margin-top: 7rem; }
.mt-155 { margin-top: -15.5rem; }
.mb_10 { margin-bottom: 1rem; }
.mb_25 { margin-bottom: 2.5rem; }
.mb_30 { margin-bottom: 3rem; }
.mb_35 { margin-bottom: 3.5rem; }
.mb_60 { margin-bottom: 6rem; }
.mb_70 { margin-bottom: 7rem; }
.mb_80 { margin-bottom: 8rem; }
.mb_120 { margin-bottom: 12rem; }
.mlr_auto { margin-left: auto; margin-right: auto; }
.ml_20 { margin-left: 2rem; }

/*Paddings*/
.pt_75 { padding-top: 7.5rem; }
.pl_10 { padding-left: 1rem; }
.pl_45 { padding-left: 4.5rem; }
.pb_30 { padding-bottom: 3rem; }

/* Font size */

.fs_17 { font-size: 1.7rem; }
.fs_20 { font-size: 2rem; }
.fs_22 { font-size: 2.2rem; }
.fs_25 { font-size: 2.5rem; }
.fs_70 { font-size: 7rem; }

/* Font weight*/ 
.fw_500 { font-weight: 500; }
.fw_700 { font-weight: 700; }
.fw_900 {font-weight: 900; }
/* Line height*/
.lh_30 { line-height: 3rem; }

/* Opacity */
.opacity_0 { opacity: 0; }

/* Widths */
.mw_970 { max-width: 97rem; }
.mw_490 { max-width: 49rem; }

/*Height*/
.hi_124 { height: 12.4rem; }
.hi_134 { height: 13.4rem; }
.hi_154 { height: 15.4rem; }

/*Backgrounds */
.bg-gradient {
    background: rgb(222, 129, 60);
    background: -moz-linear-gradient(-45deg, rgba(222, 129, 60, 1) 0%, rgba(63, 81, 154, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(222, 129, 60, 1) 0%, rgba(63, 81, 154, 1) 100%);
    background: linear-gradient(135deg, rgba(222, 129, 60, 1) 0%, rgba(63, 81, 154, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de813c', endColorstr='#3f519a', GradientType=1);
}
.bg-grey {
    background: #f4f4f4;
}

.title {
    font: 400 5rem/6rem 'Bernadette', sans-serif;
}

.zi_1 { z-index: 1; }

