/*------------------------------------------
                Fonts
--------------------------------------------*/
/*Lato*/
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light.ttf') format('truetype'),
        url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.eot');
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Italic.woff2') format('woff2'),
        url('../fonts/Lato-Italic.ttf') format('truetype'),
        url('../fonts/Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Medium.eot');
    src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Medium.woff2') format('woff2'),
        url('../fonts/Lato-Medium.ttf') format('truetype'),
        url('../fonts/Lato-Medium.svg#Lato-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.ttf') format('truetype'),
        url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Heavy.eot');
    src: url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Heavy.woff2') format('woff2'),
        url('../fonts/Lato-Heavy.ttf') format('truetype'),
        url('../fonts/Lato-Heavy.svg#Lato-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.eot');
    src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Black.woff2') format('woff2'),
        url('../fonts/Lato-Black.ttf') format('truetype'),
        url('../fonts/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

/*Belgrad*/
@font-face {
    font-family: 'Belgrad';
    src: url('../fonts/Belgrad-Bold.eot');
    src: url('../fonts/Belgrad-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Belgrad-Bold.woff2') format('woff2'),
        url('../fonts/Belgrad-Bold.ttf') format('truetype'),
        url('../fonts/Belgrad-Bold.svg#Belgrad-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*Bernadette*/
@font-face {
    font-family: 'Bernadette';
    src: url('../fonts/Bernadette.eot');
    src: url('../fonts/Bernadette.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Bernadette.woff2') format('woff2'),
        url('../fonts/Bernadette.ttf') format('truetype'),
        url('../fonts/Bernadette.svg#Bernadette') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Myriad Pro*/
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BlackCond.eot');
    src: url('../fonts/MyriadPro-BlackCond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-BlackCond.woff2') format('woff2'),
        url('../fonts/MyriadPro-BlackCond.ttf') format('truetype'),
        url('../fonts/MyriadPro-BlackCond.svg#MyriadPro-BlackCond') format('svg');
    font-weight: 900;
    font-style: normal;
}

/*Font Awesome*/
@font-face {
    font-family: 'Font Awesome 5 Free';
    src: url("../webfonts/fa-regular-400.eot");
    src: url("../webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
         url("../webfonts/fa-regular-400.woff2") format("woff2"),
         url("../webfonts/fa-regular-400.woff") format("woff"),
         url("../webfonts/fa-regular-400.ttf") format("truetype"),
         url("../webfonts/fa-regular-400.svg#fontawesome") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    src: url("../webfonts/fa-solid-900.eot");
    src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
         url("../webfonts/fa-solid-900.woff2") format("woff2"),
         url("../webfonts/fa-solid-900.woff") format("woff"),
         url("../webfonts/fa-solid-900.ttf") format("truetype"),
         url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Font Awesome 5 Brands';
    src: url("../webfonts/fa-brands-400.eot");
    src: url("../webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
         url("../webfonts/fa-brands-400.woff2") format("woff2"),
         url("../webfonts/fa-brands-400.woff") format("woff"),
         url("../webfonts/fa-brands-400.ttf") format("truetype"),
         url("../webfonts/fa-brands-400.svg#fontawesome") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

/*-----------------------------------------
                Normalize
-------------------------------------------*/
* { 
    margin: 0; 
    padding: 0;
}

*:focus,
a:focus,
.btn:focus,
.btn:focus:active {
    outline: 0;
}

ul { 
    list-style: none;
}

::-moz-selection { 
    color: #fff;
    background: #313131; 
}

::selection { 
    color: #fff;
    background: #313131; 
}

/*------------------------------------------
                Global 
--------------------------------------------*/
html {
    height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font: 300 1.8rem/2.4rem 'Lato', sans-serif;
    color: #313131;
    background: #fff;
    opacity: 0;
    overflow-x: hidden;
    -webkit-transition: ease .5s;
       -moz-transition: ease .5s;
         -o-transition: ease .5s;
            transition: ease .5s;
}

.load-ready { 
    opacity: 1;
}

.container {
    max-width: 120rem !important;
}

/* Headings */
/* h1 {
    font: 500 7.8rem/8rem 'Butler', serif;
    color: #12161b;
}

h2 {
    font: 500 5rem/6.2rem 'Butler', serif;
    color: #12161b;
}
*/
h3 {
    font: 700 2.5rem/normal 'Lato', sans-serif;
    color: #333332;
} 

/* Hyperlinks */
a {
    text-decoration: none;
    -webkit-transition: color 300ms;
       -moz-transition: color 300ms;
         -o-transition: color 300ms;
            transition: color 300ms;
}

a:hover { 
    text-decoration: none;
    color: #fc9e20;
}

/* Buttons */
button { 
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.btn {
    width: 14.5rem;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1.4rem;
    color: #333332;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    -webkit-transition: ease .5s;
       -moz-transition: ease .5s;
         -o-transition: ease .5s;
            transition: ease .5s;
    border: 0;
}

/* White button */
.btn--white { 
    background: #fff;
    color: #020202; 
}

.btn--white:hover {
    background: #020202;
    color: #fff;
}

/* Round button */
.btn--round { 
    border-radius: 5rem;
}

/* Gradient button */
.btn--gradient {
    position: relative;
    color: #fff;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
    box-shadow: 3px 4px 49px 0px rgba(0, 0, 0, 0.07);
    z-index: 1;
}

.btn--gradient::before,
.btn--gradient::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(#de813c), to(#3f519a));
    background-image: -webkit-linear-gradient(left, #de813c, #3f519a);
    background-image: -o-linear-gradient(left, #de813c, #3f519a);
    background-image: linear-gradient(to right, #de813c, #3f519a);
    border-radius: 5rem;
    z-index: -1;
}

.btn--gradient::after {
    opacity: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(#3f519a), to(#de813c));
    background-image: -webkit-linear-gradient(left, #3f519a, #de813c);
    background-image: -o-linear-gradient(left, #3f519a, #de813c);
    background-image: linear-gradient(to right, #3f519a, #de813c);
    -webkit-transition: opacity .3s ease-in-out;
         -o-transition: opacity .3s ease-in-out;
       -moz-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;
}

.btn--gradient:hover {
     color: #fff;
}

.btn--gradient:hover::after {
    opacity: 1;
}

/*------------------------------------------
                Header
--------------------------------------------*/
.header {
    width: 100%;
    padding: 1rem 5rem;
    position: absolute;
    top: 0;
    z-index: 9999;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all .4s ease;
         -o-transition: all .4s ease;
       -moz-transition: all .4s ease;
            transition: all .4s ease;
}
.sticky {
    position: fixed;
    background: #fff;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.08);
}

/* Logo */
.logo {
    width: 162px;
    height: 56px;
}
.sticky .letter {
    fill: #fc9e20;
}

/*------------------------------------------
                Navigation
--------------------------------------------*/
.main-nav a {
    padding: 1.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: normal;
    color: #fff;
    text-transform: uppercase;
}
.main-nav a:hover,
.sticky .main-nav a { 
    color: #020202;
}

.sticky .main-nav a:hover {
    color: #fc9e20;
}

/* Toogle Menu */
.open-nav {
    width: 3rem;
    height: 2rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 3;
}

.open-nav span {
    display: block;
    position: absolute;
    height: .3rem;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.open-nav span {
    background: #fff;
}

.sticky .open-nav span {
    background: #000;
}

.open-nav span:nth-child(1) {
    top: 0;
}

.open-nav span:nth-child(2),
.open-nav span:nth-child(3) {
    top: 1rem;
}

.open-nav span:nth-child(4) {
    top: 2rem;
}
.open-nav.open span {
    background: #fc9e20;
}

.open-nav.open span:nth-child(1),
.open-nav.open span:nth-child(4) {
    width: 0;
    top: 1.1rem;
    left: 50%;
}

.open-nav.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open-nav.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*------------------------------------------
                Hero
--------------------------------------------*/
.hero {
    background: url('../assets/hero.png') no-repeat center center / cover;
    height: 117rem;
}

.hero h2 {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    font: 700 3.7rem/4rem 'Lato', sans-serif;
    color: #fff;
}

.hero p {
    margin-bottom: 3rem;
    line-height: 2.4rem;
    font-size: 1.6rem;
}

.hero__wrapper {
    width: 100%;
    max-width: 72rem;
}

.hero__wrapper path {
    stroke: #fff;
    fill: #fff;
    stroke-dasharray: 500;
    opacity: 1;
    -webkit-animation: animate 3s cubic-bezier(0, 0.23, 1, .1);
       -moz-animation: animate 3s cubic-bezier(0, 0.23, 1, .1);
         -o-animation: animate 3s cubic-bezier(0, 0.23, 1, .1);
            animation: animate 3s cubic-bezier(0, 0.23, 1, .1);
}

/* SVG stoke animation */
@-webkit-keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 500;
    }

    30% {
        opacity: 1;
        fill: none;
        stroke-dashoffset: 500;
    }

    90% {
        fill: rgba(255, 255, 255, 0);
    }

    100% {
        opacity: 1;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }
}

@-moz-keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 500;
    }

    30% {
        opacity: 1;
        fill: none;
        stroke-dashoffset: 500;
    }

    90% {
        fill: rgba(255, 255, 255, 0);
    }

    100% {
        opacity: 1;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }
}

@-o-keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 500;
    }

    30% {
        opacity: 1;
        fill: none;
        stroke-dashoffset: 500;
    }

    90% {
        fill: rgba(255, 255, 255, 0);
    }

    100% {
        opacity: 1;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 500;
    }

    30% {
        opacity: 1;
        fill: none;
        stroke-dashoffset: 500;
    }

    90% {
        fill: rgba(255, 255, 255, 0);
    }

    100% {
        opacity: 1;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }
}
/*------------------------------------------
            Boxes
--------------------------------------------*/
.box-info {
    padding: 2rem 5rem 3.5rem;
    background: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-box-shadow: 3px 4px 49px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 3px 4px 49px 0 rgba(0, 0, 0, 0.07); 
}

.box__img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.box-info__title {
    margin-bottom: 2rem;
}

.box-info__btn {
    position: absolute;
    bottom: -2rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}

/*------------------------------------------
           About us
--------------------------------------------*/
.about-us {
    margin: 15rem auto;
}

.about-us h1 {
    background-image: url(../assets/letter-bg.jpg);
    background-size: cover;
    background-position: center center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: -7rem;
    right: -8rem;
    left: 0;
    margin: auto;
    font: 700 70rem/normal 'Belgrad', sans-serif;
}

.about-us h1:before {
    content: 'A';
    width: 100%;
    text-shadow: 0 0 40px rgba(0, 0, 0, .5);
    display: block;
    position: absolute;
    z-index: -1;
}

.quotes {
    max-width: 8.3rem;
    height: auto;
    position: absolute;
    top: 3.5rem;
    left: -11rem;
}

/*------------------------------------------
           Features
--------------------------------------------*/
.white-box {
    max-width: 73rem;
    margin: 0 auto;
    padding: 3rem 4.5rem;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) !important;
        -ms-transform: translateY(-50%) !important; 
            transform: translateY(-50%) !important;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-box-shadow: 3px 4px 49px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 3px 4px 49px 0 rgba(0, 0, 0, 0.07);
}

.features__img {
    border-radius: 10px;
}

/*------------------------------------------
           Services
--------------------------------------------*/
.services__content {
    max-width: 50rem;
    margin-right: 18.5rem;
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.services-box {
    width: 100%;
    max-width: 35.5rem;
    height: 46rem;
    padding: 2.5rem 2rem;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) !important;
        -ms-transform: translateY(-50%) !important;
            transform: translateY(-50%) !important;
    left: -13.5rem;   
    -webkit-box-shadow: 3px 4px 49px 0 rgba(0, 0, 0, 0.07);
            box-shadow: 3px 4px 49px 0 rgba(0, 0, 0, 0.07);
}

.services-box__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
}

.services-box__item:nth-child(2n+1) {
    border-right: 1px dashed rgba(255, 255, 255, .3)
}

.services-box__item:nth-child(-n+4) {
    border-bottom: 1px dashed rgba(255, 255, 255, .3)
}

/*------------------------------------------
                Team
--------------------------------------------*/
.person__img { 
    border-radius: 10px;
}

.person__name {
    margin-top: 4rem;
    margin-bottom: .5rem;
    font-weight: 500;
    font-size: 2.5rem;
    color: #333332;
}

.person__position {
    font-size: 2rem;
    color: #a3a3a3;
}

.team::after {
    content: '';
    width: 100%;
    max-width: 129.5rem;
    height: 31.5rem;
    margin: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background: #f4f4f4;
    z-index: -1;
    -webkit-transform: translateY(-85%);
        -ms-transform: translateY(-85%);
            transform: translateY(-85%);
}

/*------------------------------------------
                Team member
--------------------------------------------*/
.team-member__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Socials */
.team-member__social-link {
    margin-right: 2rem;
}

.team-member__social-link:last-child {
    margin-right: 0;
}

.team-member__social-link .fab {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #fff;
    position: relative;
    z-index: 1;
    font-size: 3rem;
    color: #272525;
    -webkit-transition: ease .4s;
       -moz-transition: ease .4s;
         -o-transition: ease .4s;
            transition: ease .4s;
}

.team-member__social-link .fab:before {
    display: block;
    text-align: center;
    line-height: 6rem;
}

.team-member__social-link .fa-facebook-f:hover {
    background: #3b5998;
    color: #fff;
}

.team-member__social-link .fa-behance:hover {
    background: #1769ff;
    color: #fff;
}

.team-member__social-link .fa-linkedin-in:hover {
    background: #0077b5;
    color: #fff;
}

.skills {
    max-width: 60rem;
    padding-right: 7rem;
}

/* Progress bar */
.progress {
    height: 1.5rem;
    margin-bottom: 3.5rem;
    border-radius: 20px;
    position: relative;
    overflow: visible;
}

.progress-bar {
    width: 0;
    transition-duration: 2s;
    border-radius: 20px;
    -webkit-transform: translateY(-1.5rem);
        -ms-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
}

.progress .value {
    position: absolute;
    top: -2.9rem;
    right: 1rem;
    font-weight: 900;
    font-size: 2.5rem;
    color: #333332;
}

/*------------------------------------------
                Price
--------------------------------------------*/
.price-box {
    width: 100%;
    max-width: 38rem;
    -webkit-box-shadow: 3px 4px 49px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 3px 4px 49px 0 rgba(0, 0, 0, 0.1);
}

.price-box .btn {
    margin-top: 5.3rem;
    margin-left: 2.5rem;
    font-family: 'Lato', sans-serif;
}

/* White price box */
.price-box--white {
    margin: 9.5rem -1.5rem 9.5rem 0;
    padding: 6rem 3.5rem;
    background: #fff;
}

.price {
    margin: 3rem 0;
    font: 900 10.7rem/normal 'Myriad Pro', sans-serif;
    background: rgb(222, 129, 60);
    background: -moz-linear-gradient(-45deg, rgba(222, 129, 60, 1) 0%, rgba(63, 81, 154, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(222, 129, 60, 1) 0%, rgba(63, 81, 154, 1) 100%);
    background: linear-gradient(135deg, rgba(222, 129, 60, 1) 0%, rgba(63, 81, 154, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de813c', endColorstr='#3f519a', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.price span {
    font-size: 7.2rem;
}

/* Gradient price box */
.price-box--gradient {
    padding: 9rem 3.5rem 4.4rem;
    margin-left: -1.5rem;
    font-family: 'Myriad Pro', sans-serif;
    -webkit-box-shadow: 3px 4px 49px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 3px 4px 49px 0 rgba(0, 0, 0, 0.1);
}

.price-features__list li {
    padding-bottom: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.price-features__list li:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 1.5rem;
}

/*------------------------------------------
                Socials
--------------------------------------------*/
.socials {
    position: relative;
    background: url('../assets/socials-bg.jpg') no-repeat center center / cover;

}
.socials:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(left, rgba(222,129,60,0.8) 0%, rgba(63,81,154,0.8) 100%);
    background: -webkit-linear-gradient(left, rgba(222,129,60,0.8) 0%,rgba(63,81,154,0.8) 100%);
    background: linear-gradient(to right, rgba(222,129,60,0.8) 0%,rgba(63,81,154,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccde813c', endColorstr='#cc3f519a',GradientType=1 );
}

.socials .title {
    margin-top: 8.5rem;
    margin-bottom: 7rem;
    position: relative;
    z-index: 2;
}

.social-icons {
    padding-bottom: 10.5rem;
}

.social-icon__link  {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 16.6666667%;
        -ms-flex: 1 0 16.6666667%;
            flex: 1 0 16.6666667%;
    z-index: 1;
}

.social-icon__link .fab {
    width: 8rem;
    height: 8rem;
    border: 3px solid #fff;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    font-size: 3.6rem;
    color: #fff;
    -webkit-transition: ease .4s;
       -moz-transition: ease .4s;
         -o-transition: ease .4s;
            transition: ease .4s;
}

.social-icon__link .fab:before {
    line-height: 7.5rem;
}

/* Facebook */
.social-icon__link .fa-facebook-f:hover {
    border-color: #3b5998;
    background: #3b5998;
}

/* Instagram */
.social-icon__link .fa-instagram:hover {
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -moz-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

/* LinkedIn */
.social-icon__link .fa-linkedin-in:hover {
    border-color: #0077b5;
    background: #0077b5;
}

/* YouTube */
.social-icon__link .fa-youtube:hover {
    border-color: #ff0000;
    background: #ff0000;
}

/* Dribble */
.social-icon__link .fa-dribbble:hover {
    border-color: #ea4c89;
    background: #ea4c89;
}

/* Behance */
.social-icon__link .fa-behance:hover {
    border-color: #1769ff;
    background: #1769ff;
}

/*------------------------------------------
            Footer
--------------------------------------------*/
.footer {
    padding: 6rem 0;
}

.footer a {
    color: #494949;
}

.footer a:hover {
    color: #fc9e20;
}

.media-body {
    padding-left: 2.5rem;
}

/*------------------------------------------
                Back to Top
--------------------------------------------*/
.back-top {
    position: fixed;
    display: none;
    z-index: 100;
    right: 3%;
    bottom: 8.5rem;
}

.back-top svg {
    width: 5rem;
    height: 5rem;
}

.back-top .ellipse {
    fill: #fc9e20;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
}

.back-top:hover .ellipse {
    fill: #e28e1c;
}

.back-top .arrow {
    fill: #fff;
}